<%-include('../includes/adminStart') %>

    <!--Navbar closes here-->

    <body class="bg-gray-100 dark:bg-gray-900 font-sans">

        <aside id="default-sidebar"
            class="fixed top-0 left-0 z-40 w-64 h-screen transition-transform -translate-x-full sm:translate-x-0"
            aria-label="Sidebar">
            <div class="h-full px-3 py-4 overflow-y-auto bg-gray-50 dark:bg-gray-800">
                <ul class="space-y-2 font-medium">
                    <li>
                        <a href="/admin/dashboard"
                            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <svg class="w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 22 21">
                                <path
                                    d="M16.975 11H10V4.025a1 1 0 0 0-1.066-.998 8.5 8.5 0 1 0 9.039 9.039.999.999 0 0 0-1-1.066h.002Z" />
                                <path
                                    d="M12.5 0c-.157 0-.311.01-.565.027A1 1 0 0 0 11 1.02V10h8.975a1 1 0 0 0 1-.935c.013-.188.028-.374.028-.565A8.51 8.51 0 0 0 12.5 0Z" />
                            </svg>
                            <span class="ml-3">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/users"
                            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 20 18">
                                <path
                                    d="M14 2a3.963 3.963 0 0 0-1.4.267 6.439 6.439 0 0 1-1.331 6.638A4 4 0 1 0 14 2Zm1 9h-1.264A6.957 6.957 0 0 1 15 15v2a2.97 2.97 0 0 1-.184 1H19a1 1 0 0 0 1-1v-1a5.006 5.006 0 0 0-5-5ZM6.5 9a4.5 4.5 0 1 0 0-9 4.5 4.5 0 0 0 0 9ZM8 10H5a5.006 5.006 0 0 0-5 5v2a1 1 0 0 0 1 1h11a1 1 0 0 0 1-1v-2a5.006 5.006 0 0 0-5-5Z" />
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Users</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-yellow-400 hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                viewBox="0 0 18 20">
                                <path
                                    d="M17 5.923A1 1 0 0 0 16 5h-3V4a4 4 0 1 0-8 0v1H2a1 1 0 0 0-1 .923L.086 17.846A2 2 0 0 0 2.08 20h13.84a2 2 0 0 0 1.994-2.153L17 5.923ZM7 9a1 1 0 0 1-2 0V7h2v2Zm0-5a2 2 0 1 1 4 0v1H7V4Zm6 5a1 1 0 1 1-2 0V7h2v2Z" />
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Products</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/category"
                            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Categories</span>
                        </a>
                    </li>
                    <li>
                        <a href="#"
                            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <svg class="flex-shrink-0 w-5 h-5 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M1 8h11m0 0L8 4m4 4-4 4m4-11h3a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2h-3" />
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Offers</span>
                        </a>
                    </li>
                    <li>
                        <a href="/admin/logout"
                            class="flex items-center p-2 text-gray-900 rounded-lg dark:text-white hover:bg-gray-100 dark:hover:bg-gray-700 group">
                            <svg class="flex-shrink-0 w-5 h-9 text-gray-500 transition duration-75 dark:text-gray-400 group-hover:text-gray-900 dark:group-hover:text-white"
                                aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 18 16">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                            </svg>
                            <span class="flex-1 ml-3 whitespace-nowrap">Sign Out</span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>

        <div class="p-4 sm:ml-64">
            <nav class="bg-yellow-300 border-gray-200 dark:bg-gray-900 p-4">
                <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto">
                    <button data-drawer-target="default-sidebar" data-drawer-toggle="default-sidebar"
                        aria-controls="default-sidebar" type="button"
                        class="inline-flex items-center p-2 mt-2 ml-3 text-sm text-gray-500 rounded-lg sm:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
                        <span class="sr-only">Open sidebar</span>
                        <svg class="w-6 h-6" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20"
                            xmlns="http://www.w3.org/2000/svg">
                            <path clip-rule="evenodd" fill-rule="evenodd"
                                d="M2 4.75A.75.75 0 012.75 4h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 4.75zm0 10.5a.75.75 0 01.75-.75h7.5a.75.75 0 010 1.5h-7.5a.75.75 0 01-.75-.75zM2 10a.75.75 0 01.75-.75h14.5a.75.75 0 010 1.5H2.75A.75.75 0 012 10z">
                            </path>
                        </svg>
                    </button>
                    <a href="#" class="flex items-right">
                        <!--<img src="/public/images/bicycle.(3).png" class="h-8 mr-3" alt="Flowbite Logo" />-->
                        <span class="self-center text-2xl font-bold whitespace-nowrap dark:text-yellow-400">BICYCLE
                            REPUBLIC</span>
                    </a>
                    <div class="flex items-center md:order-2">
                        <button type="button"
                            class="flex mr-3 text-sm bg-gray-800 rounded-full md:mr-0 focus:ring-4 focus:ring-gray-300 dark:focus:ring-gray-600"
                            id="user-menu-button" aria-expanded="false" data-dropdown-toggle="user-dropdown"
                            data-dropdown-placement="bottom">
                            <span class="sr-only">Open user menu</span>
                            <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-3.jpg"
                                alt="user photo">
                        </button>

                        <button id="theme-toggle" type="button"
                            class="text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:outline-none focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-2.5 ml-6">
                            <svg id="theme-toggle-dark-icon" class="hidden w-5 h-5" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path d="M17.293 13.293A8 8 0 016.707 2.707a8.001 8.001 0 1010.586 10.586z"></path>
                            </svg>
                            <svg id="theme-toggle-light-icon" class="hidden w-5 h-5" fill="currentColor"
                                viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M10 2a1 1 0 011 1v1a1 1 0 11-2 0V3a1 1 0 011-1zm4 8a4 4 0 11-8 0 4 4 0 018 0zm-.464 4.95l.707.707a1 1 0 001.414-1.414l-.707-.707a1 1 0 00-1.414 1.414zm2.12-10.607a1 1 0 010 1.414l-.706.707a1 1 0 11-1.414-1.414l.707-.707a1 1 0 011.414 0zM17 11a1 1 0 100-2h-1a1 1 0 100 2h1zm-7 4a1 1 0 011 1v1a1 1 0 11-2 0v-1a1 1 0 011-1zM5.05 6.464A1 1 0 106.465 5.05l-.708-.707a1 1 0 00-1.414 1.414l.707.707zm1.414 8.486l-.707.707a1 1 0 01-1.414-1.414l.707-.707a1 1 0 011.414 1.414zM4 11a1 1 0 100-2H3a1 1 0 000 2h1z"
                                    fill-rule="evenodd" clip-rule="evenodd"></path>
                            </svg>
                        </button>


                        <!-- Dropdown menu -->
                        <div class="z-50 hidden my-4 text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow dark:bg-gray-700 dark:divide-gray-600"
                            id="user-dropdown">
                            <div class="px-4 py-3">
                                <span class="block text-sm text-gray-900 dark:text-white">Bonnie Green</span>
                                <span
                                    class="block text-sm  text-gray-500 truncate dark:text-gray-400">name@flowbite.com</span>
                            </div>
                            <ul class="py-2" aria-labelledby="user-menu-button">
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Dashboard</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Settings</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Earnings</a>
                                </li>
                                <li>
                                    <a href="#"
                                        class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Sign
                                        out</a>
                                </li>
                            </ul>
                        </div>
                        <!--dropdown closes here-->

                    </div>
                </div>
            </nav>
            <div class="p-4 border-2 border-gray-200 border-dashed rounded-lg dark:border-gray-700">


                <div class="relative overflow-x-auto shadow-md sm:rounded-lg">
                    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Product name
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Color
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Category
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Size
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Quantity
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Price
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Image
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Action
                                </th>
                            </tr>
                            <!-- Modal toggle -->
                            <button data-modal-target="default-modal" data-modal-toggle="default-modal"
                                class="block mb-4 text-white bg-red-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
                                type="button">
                                Add Product
                            </button>

                            <!-- Main modal -->
                            <div id="default-modal" tabindex="1" aria-hidden="true"
                                class="fixed top-0 left-0 right-0 z-50 hidden w-full m-6 p-4 overflow-x-hidden overflow-y-auto md:inset-0 max-h-full">
                                <div class="relative w-full max-w-2xl mx-auto max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                                        <div
                                            class="flex items-start justify-between p-1 border-b rounded-t dark:border-gray-600">
                                            <button type="button"
                                                class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                data-modal-hide="default-modal">
                                                <svg class="w-3 h-3" aria-hidden="true"
                                                    xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round"
                                                        stroke-linejoin="round" stroke-width="2"
                                                        d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <section class="bg-white dark:bg-gray-800 p-4">
                                            <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                                                <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Add a
                                                    new product</h2>
                                                <form action="#">
                                                    <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                                        <div class="sm:col-span-2">
                                                            <label for="productName"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
                                                                Name</label>
                                                            <input type="text" name="productName" id="productName"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="Type product name" required="">
                                                        </div>
                                                        <div class="w-full">
                                                            <label for="productPrice"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                                            <input type="number" name="productPrice" id="productPrice"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="$2999" required="">
                                                        </div>

                                                        <div>
                                                            <label for="productCategory"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                                                            <select id="ProductCategory"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                <option disabled selected="">Select category</option>
                                                                <option value="Road Bikes">Road Bikes</option>
                                                                <option value="Mountain Bikes">Mountain Bikes</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="productQty"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
                                                            <input type="number" name="productQty" id="productQty"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="12" required="">
                                                        </div>
                                                        <div>
                                                            <label for="productSize"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size</label>
                                                            <select id="productSize"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                <option disabled selected="">Select size</option>
                                                                <option value="Small">S</option>
                                                                <option value="Medium">M</option>
                                                                <option value="Large">L</option>
                                                            </select>
                                                        </div>

                                                        <div>
                                                            <label for="productColour"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size</label>
                                                            <select id="productColour"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                <option disabled selected="">Select size</option>
                                                                <option value="Black">Black</option>
                                                                <option value="White">White</option>
                                                                <option value="Red">Red</option>
                                                            </select>
                                                        </div>
                                                        <div>
                                                            <label for="discountPrice"
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount
                                                                price</label>
                                                            <input type="number" name="discountPrice" id="discountPrice"
                                                                class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                placeholder="12">
                                                        </div>
                                                        <div class="w-full">
                                                            <label
                                                                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                                                for="file_input">Upload image</label>
                                                            <input id="file_input"
                                                                class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                                id="file_input" type="file">
                                                        </div>
                                                        <!-- <div class="sm:col-span-2">
                                        <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                        <textarea id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                                    </div> -->
                                                    </div>
                                                    <button type="submit"
                                                        class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-yellow-400 hover:bg-blue-800 bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                                        Add product
                                                    </button>
                                                </form>
                                            </div>
                                        </section>
                                    </div>
                                </div>
                            </div>
                            <!--modal closes -->
                            <%product.forEach((productData)=>{ %>

                                <!--update modal-->
                                <div id="default-modalc" tabindex="1" aria-hidden="true"
                                    class="fixed top-0 left-0 right-0 z-50 hidden w-full m-6 p-4 overflow-x-hidden overflow-y-auto md:inset-0 max-h-full">
                                    <div class="relative w-full max-w-2xl mx-auto max-h-full">
                                        <div class="relative bg-white rounded-lg shadow dark:bg-gray-800">
                                            <div
                                                class="flex items-start justify-between p-1 border-b rounded-t dark:border-gray-600">
                                                <button type="button" id="closeBtn"
                                                    class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ml-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white"
                                                    data-modal-hide="default-modalc">
                                                    <svg class="w-3 h-3" aria-hidden="true"
                                                        xmlns="http://www.w3.org/2000/svg" fill="none"
                                                        viewBox="0 0 14 14">
                                                        <path stroke="currentColor" stroke-linecap="round"
                                                            stroke-linejoin="round" stroke-width="2"
                                                            d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
                                                    </svg>
                                                    <span class="sr-only">Close modal</span>
                                                </button>
                                            </div>
                                            <section class="bg-white dark:bg-gray-800 p-4">
                                                <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
                                                    <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">
                                                        Edit product</h2>
                                                    <form action="#">
                                                        <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
                                                            <div class="sm:col-span-2">
                                                                <label for="editProductName"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Product
                                                                    Name </label>
                                                                <input type="text" name="editProductName" id="editProductName"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="Type product name" required="">
                                                                    <input type="hidden" id="editProductId" name="editProductId">
                                                            </div>
                                                            <div class="w-full">
                                                                <label for="editProductPrice"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Price</label>
                                                                <input type="number" name="EditProductPrice"
                                                                    id="editProductPrice"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="$2999" required="">
                                                            </div>

                                                            <div>
                                                                <label for="editProductCategory"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Category</label>
                                                                <select id="editProductCategory"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                    <option disabled selected="">Select category
                                                                    </option>
                                                                    <option value="Road Bikes">Road Bikes</option>
                                                                    <option value="Mountain Bikes">Mountain Bikes</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <label for="editProductQty"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Quantity</label>
                                                                <input type="number" name="editProductQty" id="editProductQty"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="12" required="">
                                                            </div>
                                                            <div>
                                                                <label for="editProductSize"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Size</label>
                                                                <select id="editProductSize"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                    <option disabled selected="">Select size</option>
                                                                    <option value="Small">S</option>
                                                                    <option value="Medium">M</option>
                                                                    <option value="Large">L</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <label for="editProductColour"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Colour</label>
                                                                <select id="editProductColour"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500">
                                                                    <option disabled selected="">Select colour</option>
                                                                    <option value="Black">Black</option>
                                                                    <option value="White">White</option>
                                                                    <option value="Red">Red</option>
                                                                </select>
                                                            </div>
                                                            <div>
                                                                <label for="editPiscountPrice"
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Discount
                                                                    price</label>
                                                                <input type="number" name="editDiscountPrice"
                                                                    id="editDiscountPrice"
                                                                    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500"
                                                                    placeholder="12">
                                                            </div>
                                                            <div class="w-full">
                                                                <label
                                                                    class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                                                                    for="updateFile_input">Upload image</label>
                                                                <input
                                                                    class="block w-full text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 dark:text-gray-400 focus:outline-none dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400"
                                                                    id="updateFile_input" type="file">
                                                            </div>
                                                            <!-- <div class="sm:col-span-2">
                                      <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Description</label>
                                      <textarea id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                                  </div> -->
                                                        </div>
                                                        <button type="submit" onclick="editProduct(event)"
                                                            class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-black bg-yellow-400 hover:bg-blue-800 bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                                                            Confirm
                                                        </button>
                                                    </form>
                                                </div>
                                            </section>
                                        </div>
                                    </div>
                                </div>
                                <!--update modal closes-->
                                <% }) %>
                        </thead>
                        <tbody>
                            <%product.forEach((productData)=>{ %>
                                <tr data-product-id="<%= productData._id %>"
                                    class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
                                    <th scope="row"
                                        class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                        <%=productData.product_name %>
                                    </th>
                                    <td class="px-6 py-4">
                                        <%=productData.product_colour %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.category_name.category_name %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.product_size %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.product_qty %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <%=productData.product_price %>
                                    </td>
                                    <td class="px-6 py-4">
                                        <img src="/uploads/<%= productData.product_imgurl %>" alt="Product Image" class="w-16 h-16 object-cover rounded"> <!--class="w-32 h-32 object-cover rounded">-->
                                    </td>
                                    <td class="flex items-center px-6 py-10 space-x-3">
                                        <a href="#"
                                            class="font-medium text-blue-600 dark:text-blue-500 hover:underline openModalBtn">Edit</a>
                                        <a href="#"
                                            class="font-medium text-red-600 dark:text-red-500 hover:underline removeBtn">Remove</a>
                                    </td>
                                </tr>
                                <% }) %>
                        </tbody>

                        <!--delete Modal -->
                        <div id="confirmationModal" class="fixed inset-0 z-10 hidden overflow-y-auto">
                            <div class="flex items-center justify-center min-h-screen p-4">
                                <div class="relative bg-white w-full max-w-md p-6 mx-auto rounded-md">
                                    <div class="absolute top-0 right-0 p-4">
                                        <button id="closeModalBtn" class="text-gray-500 hover:text-gray-700">
                                            <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
                                                xmlns="http://www.w3.org/2000/svg">
                                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                                    d="M6 18L18 6M6 6l12 12"></path>
                                            </svg>
                                        </button>
                                    </div>
                                    <p class="text-lg font-semibold mb-4">Are you sure you want to remove this item?</p>
                                    <div class="flex justify-end">
                                        <button id="confirmRemoveBtn"
                                            class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600">Remove</button>
                                        <button id="cancelRemoveBtn"
                                            class="ml-2 px-4 py-2 bg-gray-300 text-gray-700 rounded-md hover:bg-gray-400">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </table>
                </div>


            </div>
            <script src="/javascripts/createModal.js"></script> <!--working of create modal-->

            <!--fetch data to the modal of edit-->
            <script>

                const defaultModalc = document.getElementById(`default-modalc`);
                const openModalBtnElements = document.getElementsByClassName('openModalBtn');
                const closeBtn = document.getElementById('closeBtn');
                const modalProductName = document.getElementById('editProductName');
                const modalProductPrice = document.getElementById('editProductPrice');
                const modalProductCategory = document.getElementById('editProductCategory');
                const modalProductQty = document.getElementById('editProductQty');
                const modalProductSize = document.getElementById('editProductSize');
                const modalProductColour = document.getElementById('editProductColour');
                const modalDiscountPrice = document.getElementById('editDiscountPrice');
                // const modalFileInput = document.getElementById('file_input')
                const modalProductId = document.getElementById('editProductId')

                const openModalBtnc = openModalBtnElements[0];

                for (const openModalBtn of openModalBtnElements) {
                    openModalBtn.addEventListener('click', (event) => {
                        event.preventDefault();
                        const productId = event.target.closest('tr').dataset.productId;
                        console.log(productId)

                        fetch(`/admin/product/${productId}`)
                            .then((response) => response.json())
                            .then((productDetails) => {

                                console.log(productDetails)

                                modalProductName.value = productDetails.product_name;
                                modalProductPrice.value = productDetails.product_price;
                                modalProductCategory.value = productDetails.category_name.category_name;
                                modalProductQty.value = productDetails.product_qty;
                                modalProductSize.value = productDetails.product_size;
                                modalProductColour.value = productDetails.product_colour;
                                modalDiscountPrice.value = productDetails.discount_price;
                                // modalFileInput.innerText = productDetails.product_imgurl; //ask reviewer
                                modalProductId.value = productDetails._id;
                                console.log(modalProductName.value);

                                defaultModalc.style.display = 'block';
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    });
                }

                // Close modal when the "Close" button is clicked
                closeBtn.addEventListener('click', () => {
                    defaultModalc.style.display = 'none';
                });

                // Close modal if clicked outside the content
                window.addEventListener('click', (event) => {
                    if (event.target === defaultModalc) {
                        defaultModalc.style.display = 'none';
                    }
                });
            </script>

            <!--update product-->
            <script>
                    async function editProduct(event) {
                    // event.preventDefault()
                    const productIdInput = document.getElementById('editProductId');

                    if (productIdInput) {
                        const productId = productIdInput.value;
                        const editProductName = modalProductName.value;
                        const editProductPrice = modalProductPrice.value;
                        const editProductCategory = modalProductCategory.value;
                        const editProductQty = modalProductQty.value;
                        const editProductSize = modalProductSize.value;
                        const editProductColour = modalProductColour.value;
                        const editDiscountPrice = modalDiscountPrice.value;

                        const formData = new FormData();
                        formData.append('productName', editProductName);
                        formData.append('productPrice', editProductPrice);
                        formData.append('productCategory', editProductCategory);
                        formData.append('productQty', editProductQty);
                        formData.append('productSize', editProductSize);
                        formData.append('productColour', editProductColour);
                        formData.append('discountPrice', editDiscountPrice);

                        const updateFileInput = document.getElementById('updateFile_input');
                        console.log(updateFileInput);
                        const file = updateFileInput.files[0];
                        console.log(file)

                        if (file) {
                            formData.append('productImage', file);
                        }

                        console.log(editProductName)
                        console.log(`productid ${productId}`);
                        console.log(editProductCategory)

                        try {
                            const response = await fetch(`/admin/product/${productId}`, {
                                method: 'put',
                                headers: {
                                    // 'Content-type': 'application/json'
                                },
                                body: formData,
                            })
                            let data  = await response.json()
                            console.log(data)
                            location.reload()
                            
                        } catch (error) {
                            console.log(error)
                        }
                    }
                }



                
            </script>

            <script>
                const form = document.querySelector('form')

                form.addEventListener('submit', async (e) => {
                    // e.preventDefault()

                    const productName = form.productName.value;
                    const productPrice = form.productPrice.value;
                    const productCategory = form.ProductCategory.value;
                    const productQty = form.productQty.value;
                    const productSize = form.productSize.value;
                    const productColour = form.productColour.value;
                    const discountPrice = form.discountPrice.value;

                    const fileInput = document.getElementById('file_input');
                    const file = fileInput.files[0];

                    const formData = new FormData();
                    formData.append('productName', productName);
                    formData.append('productPrice', productPrice);
                    formData.append('productCategory', productCategory);
                    formData.append('productQty', productQty);
                    formData.append('productSize', productSize);
                    formData.append('productColour', productColour);
                    formData.append('discountPrice', discountPrice);
                    formData.append('productImage', file);

                    try {
                        const res = await fetch('/admin/product/addproduct', {
                            method: 'post',
                            body: formData,
                            // headers: {'Content-type': 'application/json'}
                        })
                        const data = await res.json()
                        console.log(data)

                    } catch (err) {
                        console.log(err)
                    }

                })
            </script>

            <!--modal for delelete-->
        <script>
            document.addEventListener('DOMContentLoaded', function () {
            const removeButtons = document.querySelectorAll('.removeBtn');
            const confirmationModal = document.getElementById('confirmationModal');
            const closeModalBtn = document.getElementById('closeModalBtn');
            const confirmRemoveBtn = document.getElementById('confirmRemoveBtn');

            let productId = null;

            removeButtons.forEach(function (button) {
                button.addEventListener('click', function (event) {
                    event.preventDefault();
                    productId = this.closest('tr').dataset.productId;
                    console.log(productId);
                    confirmationModal.classList.remove('hidden');
                });
            });

            closeModalBtn.addEventListener('click', function () {
                confirmationModal.classList.add('hidden');
            });

            confirmRemoveBtn.addEventListener('click', function () {
                // Make a fetch request to remove the item based on the categoryId
                fetch(`/admin/product/${productId}`, {
                    method: 'DELETE', // Adjust the method based on your API
                    headers: {
                        'Content-Type': 'application/json',
                        // You may need to include additional headers depending on your API requirements
                    },
                })
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok');
                    }
                    return response.json();
                })
                .then(data => {
                    console.log('Item removed successfully:', data);
                    // Update the UI or perform any other necessary actions
                })
                .catch(error => {
                    console.error('Error removing item:', error);
                })
                .finally(() => {
                    // Close the modal
                    confirmationModal.classList.add('hidden');
                });
            });
        });

        </script>

            <%- include('../includes/adminEnd') %>


                <!--dropdown menu-->